<article class="w-full group mb-16 md:mb-20">
    <a href="{{ post.url }}" class="block aspect-[16/9] overflow-hidden bg-surface-container-low mb-8 relative focus:outline-none focus-visible:ring-2 focus-visible:ring-secondary">
        <img alt="" class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-105 opacity-80 group-hover:opacity-100" src="{{ post.data.heroImage }}"/>
        <div class="absolute top-8 left-8 pointer-events-none">
            <span class="px-4 py-1.5 border border-primary text-primary font-label text-[10px] tracking-[0.3em] uppercase bg-background/40
                backdrop-blur-md">{{ post.data.tags[0] }}</span>
        </div>
    </a>
    <div class="max-w-3xl">
        <div class="flex items-center gap-6 mb-6 font-label text-[10px] text-on-surface-variant tracking-[0.2em] uppercase">
            <span>{{ post.date | postDate }}</span>
            <span class="w-8 h-[1px] bg-outline-variant/30"></span>
            <span>{{ post.data.readingTime }}</span>
        </div>
        <h2 class="font-headline italic text-5xl md:text-6xl mb-6 group-hover:text-secondary transition-colors duration-500
                leading-tight">
            <a href="{{ post.url }}" class="hover:text-secondary">{{ post.data.title }}</a>
        </h2>
        <p class="font-body text-lg text-on-surface-variant/70 leading-relaxed">{{ post.data.excerpt }}</p>
    </div>
</article>