<footer class="{{ uiClasses.footer.bar }}">
    <div class="{{ uiClasses.footer.inner }}">
        <div class="{{ uiClasses.footer.brandCol }}">
            <div class="{{ uiClasses.footer.wordmarkWrap }}">{% include "components/wordmark.njk" %}</div>
            <p class="{{ uiClasses.footer.copyright }}">© {{ currentYear }}
                {{ site.name | upper }}. {{ site.ui.footer.rightsReserved }}</p>
        </div>
        <div class="{{ uiClasses.footer.linksRow }}">
            <a class="{{ uiClasses.footer.link }}" href="#">{{ site.ui.footer.privacy }}</a>
            <a class="{{ uiClasses.footer.linkUnderline }}" href="#">{{ site.ui.footer.terms }}</a>
        </div>
    </div>
</footer>