{% set cover = item.data.heroImage | default('') %}
{% if not cover %}
    {% set cover = item.data | albumCoverUrl %}
{% endif %}
<article class="{{ uiClasses.previewCard.article }}">
    <a href="{{ item.url }}" class="{{ uiClasses.previewCard.link }}">
        {% if cover %}
            <div class="{{ uiClasses.previewCard.thumbBox }}">
                <img alt="" class="{{ uiClasses.previewCard.img }}" src="{{ cover }}" loading="lazy" width="800" height="600"/>
            </div>
        {% else %}
            <div class="{{ uiClasses.previewCard.thumbPlaceholder }}"></div>
        {% endif %}
        {% if item.data.tags and item.data.tags[0] %}
            <span class="{{ uiClasses.previewCard.tag }}">{{ item.data.tags[0] }}</span>
        {% endif %}
        <h3 class="{{ uiClasses.previewCard.title }}">{{ item.data.title }}</h3>
        {% if item.data.excerpt %}
            <p class="{{ uiClasses.previewCard.excerpt }}">{{ item.data.excerpt }}</p>
        {% endif %}
        {% if item.data.readingTime or item.date %}
            <div class="{{ uiClasses.previewCard.footerMeta }}">
                {% if item.data.readingTime %}
                    {{ item.data.readingTime }}
                {% else %}
                    {{ item.date | postDate }}
                {% endif %}
            </div>
        {% endif %}
    </a>
</article>