<!DOCTYPE html>
<html class="dark" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      {% if title %}
        {{ title }} |
      {% endif %}
      {{ site.brand.titleSuffix }}</title>
    <link href="/assets/css/app.css" rel="stylesheet"/>
  </head>
  <body class="min-h-dvh flex flex-col {{ bodyClass | default('font-body selection:bg-secondary selection:text-on-secondary') }}">
    {{ content | safe }}
  </body>
</html>